@import './settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-dark;
  font-family: $font-family;
  font-size: ($base-size * 1.1);
  color: $color-light;
  letter-spacing: 0.5px;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  color: $color-light;
  border: solid;
  border-radius: $base-size;
  background-color: rgba($color: $color-dark, $alpha: 0.6);
  text-transform: uppercase;
  

  &:hover {
    background-color: $color-dark;
    color: $color-warning;
    cursor: pointer;
  }
}

@import "./typography.scss";
