@import "../../styles/settings.scss";

.navMain {
  background-color: rgba($color: $color-dark, $alpha: 0.6);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: fixed;

  .logo {
    height: ($base-size * 6);
    width: ($base-size * 6);
    transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
    color: $color-light;
    padding: ($base-size * 2);

    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
      color: $color-warning;
    }
  }

  .navMainUl {
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: ($base-size * 2);

    &.active {
      left: 0;
      z-index: 2;
    }

    @include respond-large {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      margin: 0;
      text-align: center;
      width: 100%;
      height: 100vh;
      transition: 0.3s;
      z-index: -1;
      background: rgba(0, 0, 0, 0.9);
    }

    .navMainLi {
      padding: $base-size;

      @include respond-large {
        padding: ($base-size * 2.5);
        font-size: ($base-size * 2);
      }

      a {
        color: $color-light;
        text-decoration: none;
        padding: ($base-size * 2);

        @include respond-large {
          padding: $base-size;
        }
      }

      .linkActive {
        color: $color-warning;
      }
    }
  }

  .hamburger {
    display: none;

    @include respond-large {
      display: block;
      padding: ($base-size * 2);
      font-size: ($base-size * 2);
      z-index: 2;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
