@import "../../styles/settings.scss";
@import "../../styles/global.scss";

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;

  .video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    top: 0;
  }

  .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 30vh;

    h1 {
      font-size: ($base-size * 8);

      @include respond-large {
        font-size: ($base-size * 6);
      }
    }

    p {
      font-size: ($base-size * 4);
      text-transform: uppercase;

      @include respond-large {
        font-size: ($base-size * 2);
      }
    }

    .btn_wrapper {
      margin-top: ($base-size * 6);

      .btn {
        padding: ($base-size * 1.5);
        font-size: ($base-size * 2);
        margin: ($base-size * 2);

        &:hover {
          color: $color-warning;
        }

        @include respond-large {
          font-size: ($base-size * 1.5);
          padding: ($base-size * 1.2);
          margin: $base-size;
        }
      }

      @include respond-large {
        margin-top: ($base-size * 4);
      }
    }
  }
}
