@import '../../styles/settings.scss';
@import '../../styles/global.scss';

@mixin headline {
  h1 {
    font-weight: 600;
    color: $color-important;
    text-transform: uppercase;

    @include respond-large {
      font-size: ($base-size * 2);
    }
  }
}

.footer_wrapper {
  padding: ($base-size * 8);
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  background-color: rgba($color: $color-dark, $alpha: 0.8);

  .socials_wrapper {
    @include headline;

    .socials_container {
      position: relative;
      margin-top: $base-size;
      display: flex;

      justify-content: space-between;
      margin-top: ($base-size * 1.5);

      .social_icon {
        &:hover {
          color: $color-warning;
        }

        @include respond-large {
          margin: $base-size;
        }
      }

      @include respond-large {
        margin-bottom: ($base-size * 3);
      }
    }
  }

  .links_wrapper {
    @include headline;

    .links_container {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: ($base-size * 1.5);

      .link {
        color: $color-light;
        text-decoration: none;
        margin-bottom: ($base-size * 0.9);

        &:hover {
          color: $color-warning;
        }
      }

      @include respond-large {
        margin-bottom: ($base-size * 3);
        align-items: center;
      }
    }
  }

  .newsletter_container {
    position: relative;

    @include headline;

    @include respond-large {
      margin-bottom: ($base-size * 3);
    }
  }

  @include respond-small {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include respond-medium {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
