@import "../../styles/settings.scss";
@import "../../styles/global.scss";

form {
  margin-top: ($base-size * 1.5);
  display: flex;
  flex-direction: column;

  input {
    padding: $base-size;

    &:first-of-type {
      margin-bottom: $base-size;
    }
  }
  .message {
    background-color: $color-error;
    color: $color-light;
    margin: 0;
    text-align: center;
  }

  .btn {
    padding: $base-size;
    font-size: ($base-size * 1.2);
    margin: $base-size;
  }
}
