@import '../../styles/settings.scss';

.container {
  display: flex;
  justify-content: center;
  background: url(../../assets/astronaut.jpg) no-repeat center/cover fixed;

  @include respond-small {
    flex-direction: column;
    align-items: center;
  }
  @include respond-medium {
    flex-direction: column;
    align-items: center;
  }
}
